<mat-toolbar color="primary" class="mat-elevation-z6">
   <span><mat-icon>eco</mat-icon> My App</span>

   <div class="spacer"></div>
   <a mat-button routerLink="home"><mat-icon class="sizeIcon">home</mat-icon> Home</a>
   <a mat-button routerLink="services"><mat-icon class="sizeIcon">open_in_browser</mat-icon> Services</a>
   <a mat-button routerLink="projects"><mat-icon class="sizeIcon">folder_special</mat-icon> Projects</a>
   <a mat-button routerLink="aboutus"><mat-icon class="sizeIcon">info</mat-icon> About Us</a>
   <a mat-raised-button color="accent" routerLink="signup"><mat-icon class="sizeIcon">person_add</mat-icon> Sign up</a>

</mat-toolbar>
